<div class='col-md-3'></div>
<div class='col-md-6'>
  <div class='form-border'>
    <h1>Donate</h1>
    <!-- Each tag in this erb form has a name set to "user[attribute]" -->
    <%= bootstrap_form_for(@donation) do |donation| %>
        <%= donation.text_field :cause%>
        <%= donation.text_field :name%>
        <%= donation.text_field :street_address%>
        <%= donation.text_field :city%>
        <%= donation.text_field :state%>
        <%= donation.text_field :cc_type%>
        <%= donation.text_field :cc_number%>
        <%= donation.text_field :cc_expir%>
        <%= donation.text_field :cc_sec%>
        <%= donation.text_field :amount%>
        <%= donation.submit "Submit!", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
